/* Estilos generales */

html {
    box-sizing: border-box;
    font-size: 62.5%; /**Reset para REM - 1rem = 10px**/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
}

.container {max-width: 120rem;
    margin: auto;}

hr {
    margin-bottom: 4rem;
    margin-top: 4rem; }

/* Font-size - Títulos */

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.8rem;
    font-weight: 400;
}

h3 {
    font-size: 3rem;
    font-weight: 300;
}

h4 {
    font-size: 2.8rem;
    font-weight: 200;
}

h5 {
    font-size: 2.3rem;
}

h6 {
    font-size: 2rem;
}
/*Header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2051a1;
    margin-bottom: 1rem;
}

.header__title {
    flex-basis: 50%;
    color: #ffffff;
    margin-left: 2rem;
}

.header__nav {
    flex-basis: calc(50% - 3rem);
}

.header__nav a {
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    margin-right: 3rem;
}

/*Formulario*/
.form__form {
    max-width: 50%;
    margin: 0 auto;    
    padding: 3rem;
}
/*BTN Ver Producos*/

.products {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.products__title {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

/*Productos Tiempo real*/
.productsRealTime {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.productsRealTime div h2 {
    text-transform: uppercase;
    margin-bottom: 3rem;
    text-align: center;
}

.cardsContainer {
    display: flex;
    justify-content: space-between;
}

/*Chat*/

.chat {
    max-width: 50%;
    margin: 0 auto;    
    padding: 3rem;
}

.chat div h3 {
    text-align: center;
    text-transform: uppercase;
}
/*Footer*/

.footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    background-color: #2051a1;
    color: white;
    height: 10rem;
    font-size: 2rem;
}
.footer p {
    margin-top: auto;
}
.usuario {
    color: blue;
    font-weight: bold;
}

.dia {
    color: brown;
}

.mensaje {
    font-style: italic;
    color: green;
}